@media only screen and (max-width: 1023px){
    .logo{
        width: 140px;
    }

    .main-nav{
        margin-top: 58px;
    }
}

@media only screen and (max-width: 867px){
    .logo{
        width: 100px;
    }
    .main-nav{
        margin-top: 50px;
        font-size: 90%;
    }
    .main-nav li {
        display: inline-block;
        margin-left: 16px;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        padding: 7px 5px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 80%;
        border: 1px groove transparent;
        -webkit-transition: border-bottom 0.2s;
        transition: all 0.2s;
        

}